<!-- Dropdown Menu -->
<div class="dropdown-menu">
  <div class="dropdown-item"><a routerLink="/profile"><i class="bi bi-person-circle"></i> Profile</a></div>
  <div class="dropdown-item"><a routerLink="/grades"><i class="bi bi-star"></i> Grades</a></div>
  <div class="dropdown-item"><a routerLink="/calendar"><i class="bi bi-calendar"></i> Calendar</a></div>
  <div class="dropdown-item"><a routerLink="/files"><i class="bi bi-folder"></i> Private Files</a></div>
  <div class="dropdown-item"><a routerLink="/reports"><i class="bi bi-file-text"></i> Reports</a></div>
  <div class="dropdown-item"><a routerLink="/preferences"><i class="bi bi-gear"></i> Preferences</a></div>
  <div class="dropdown-item has-submenu"><i class="bi bi-translate"></i> Language</div>
  <div class="dropdown-item"><a routerLink="/connexion"><i class="bi bi-box-arrow-right"></i> Log out</a></div>
</div>
