<div class="content-wrapper">
    <main class="main-content">
        <h1 class="page-title">Module 1 Index</h1>
        <h2 class="section-title">Support in the Organization of Interventions</h2>
        <div class="list-group">
            <a routerLink="/mf1" class="list-group-item list-group-item-action">MF1 Topic 1</a>
            <a routerLink="/mf1-tema2-parte1" class="list-group-item list-group-item-action">MF1 Topic 2 Part 1</a>
            <a routerLink="/mf1-tema2-parte2" class="list-group-item list-group-item-action">MF1 Topic 2 Part 2</a>
            <a routerLink="/videos-1" class="list-group-item list-group-item-action">Videos Topic 1</a>
            <a routerLink="/videos" class="list-group-item list-group-item-action">Videos Topic 2</a>
            <a routerLink="/videos-3" class="list-group-item list-group-item-action">Videos Topic 3</a>
            <a routerLink="/videos-4" class="list-group-item list-group-item-action">Videos Topic 4</a>
            <a routerLink="/m1-cat1-assimilation-questionnaire-topic-1" class="list-group-item list-group-item-action">Module 1. CAT1. Assimilation Questionnaire Topic 1</a>
            <a routerLink="/m1-cat1-assimilation-questionnaire-topic-2" class="list-group-item list-group-item-action">Module 1. CAT1. Assimilation Questionnaire Topic 2</a>
            <a routerLink="/m1-cat1-assimilation-questionnaire-topic-3" class="list-group-item list-group-item-action">Module 1. CAT1. Assimilation Questionnaire Topic 3</a>
            <a routerLink="/m1-cat1-assimilation-questionnaire-topic-4" class="list-group-item list-group-item-action">Module 1. CAT1. Assimilation Questionnaire Topic 4</a>
            <a routerLink="/m1c1-partial-evaluation-questionnaire-topic-1" class="list-group-item list-group-item-action">M1C1. Partial Evaluation Questionnaire T1</a>
            <a routerLink="/m1c1-partial-evaluation-questionnaire-topic-2" class="list-group-item list-group-item-action">M1C1. Partial Evaluation Questionnaire T2</a>
            <a routerLink="/m1c1-partial-evaluation-questionnaire-topic-3" class="list-group-item list-group-item-action">M1C1. Partial Evaluation Questionnaire T3</a>
            <a routerLink="/m1c1-partial-evaluation-questionnaire-topic-4" class="list-group-item list-group-item-action">M1C1. Partial Evaluation Questionnaire T4</a>
        </div>
    </main>
</div>
